@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb{
  background-color: '#000';
  border-radius: 10px;
}


body{
  @apply bg-white text-white;

}
.swiper {
  width: 70%;
  height: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 75%;
  height: 75%;
  object-fit: cover;
}
.swiper-button-next{
  right: 0;
  color: #A44D24;
}
.swiper-button-prev{
  left: 0;
  color: #A44D24;
}

