@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb{
  background-color: '#000';
  border-radius: 10px;
}


body{
  @apply bg-white text-white;

}
.swiper {
  width: 100%; /* Ajustado para ocupar todo el ancho disponible */
  height: auto; /* Altura automática basada en el contenido */
}
.swiper-container {
  width: 100%;
  height: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 60%; /* Tamaño reducido */
  height: auto; /* Mantener las proporciones */
  object-fit: contain; /* Cambiado para evitar recortes */
}
.swiper-button-next, .swiper-button-prev {
  color: #A44D24;
}
